:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --azul-botao: #167BF7;
    --azul-botao-selecionado: #3c92fa;
    --background: #00030C;
    --fonte-principal: 'Inter', 'sans-serif';
}